{% extends 'base.html' %}

{% block title %}
<title>Edit Task - Planificador</title> 
{% endblock title %}

{% block content %}
    <div class="container">
    </br>
    {% if task_obj.manage == request.user %}
        <form method="POST" class="row" class="d-flex">
            {% csrf_token %}
            <label class="col-lg-2 col-form-label"></label>
            <div class="col-lg-6">
            <input type="text" class="form-control" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
            </div>
            <input type="hidden" name="done"  value="{{ task_obj.done }}">
            <div class="col-lg-2">
            <button type="submit" class="btn btn-primary col-lg-12">Update Task</button>
            </div>
            </div> 
        </form>   
        </br>
    {% else %}
        <p>Access Restricted, You Are Not Allowed!</p>   
    {% endif %}     
{% endblock content %}